@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;font-family:"微软雅黑";}
dl,dt,dd,ol,ul,li{list-style: none;}
img{vertical-align:middle;border:0}
a{ text-decoration:none; text-transform:none;}
body{ background:#204186}

/*版权*/
.frame{ width:100%; height:60px; background:#2856b6; position:relative; top:0; float:left;}
.logo{ width:150px; height:auto; float:left;}
.logo img{ width:110px; height:auto; margin:10px 20px;}
.sidebar-open-button{ width:70px; height:60px; float:left; background:url(../img/menu1.png) no-repeat;display:block;}
.ITuser{ width:260px; height:60px; float:right; background:url(../img/menu2.png) no-repeat;display:block;}
.Hlogo{border-radius:50px; width:35px; height:35px; float:left;margin:15px 10px 15px 20px;position:relative;}
.Hlogo img{width:35px; height:35px;border-radius:50px; }
.Hltext{ position:absolute; width:20px; height:20px; background:#ff0000; float:left;border-radius:40px;top:-5px; left:25px;line-height:20px; text-align:center; color:#fff; font-weight:bold; font-size:13px;}
.IName{ width:140px; height:auto; float:left; margin:10px;}
.IName .name{ line-height:20px; font-size:12px; color:#fff; float:left;}
.IName .account{ line-height:20px; font-size:10px; color:#7190d1; float:left;}
.sidepanel-open-button{width:20px; height:60px; float:left; background:url(../img/menu3.png) no-repeat}

/*隐藏*/
.menuntda{ width:70px; height:60px; float:left; display:none;background:url(../img/menu1da.png) no-repeat;}
.sidepanel{ width:260px; height:100%; float:right; display:none;right:0;top:0px; position: fixed; background:#1d3978;z-index: 9999;overflow: auto;}
.IMenuda{width:20px; height:60px;float:left;background:url(../img/menu3da.png) no-repeat}
.IT_nt1{ width:40px; height:40px; margin:7px;float:left; position:relative; background:url(../img/IT_nt1.png) no-repeat;}
.IT_nt2{ width:40px; height:40px; margin:7px;float:left; position:relative; background:url(../img/IT_nt2.png) no-repeat;}
.IT_nt3{ width:40px; height:40px; margin:7px;float:left;}
.IT_nt4{ width:40px; height:40px; margin:7px 10px 7px 45px;float:left;}
.IIO_nt{ background:url(../img/IIO_nt.png) no-repeat; width:200px; line-height:60px; color:#ccc; font-size:14px; padding-left:50px;}
.IIO_nt span{ color:#ff0000; margin:0 5px;}
.ITorder{ width:260px; height:550px; float:left; margin-bottom:50px;}
.ITorder li{ float:left; width:220px; height:60px; padding:15px 20px 5px 20px;}
.IOimg{ width:50px; height:50px; float:left; position:relative; margin-right:20px;}
.IOimg img{ width:50px; height:50px;}
.IOweixin{ width:20px; height:20px; position:relative; top:-15px; left:35px;border-radius:50px; z-index:2; overflow:hidden}
.IOweixin img{width:20px; height:20px;border-radius:50px;}
.IOtext{ width:150px; height:auto; float:left;}
.IOtext h3{ font-size:14px; line-height:30px; color:#fff; }
.IOtext p{ color:#7190d1;font-size:12px; line-height:20px;}
.ITorder li:hover{background-color:rgba(255,255,255,.1);}
.IObu{ float:left;width:260px; height:auto;}

.sidebar {width: 245px;position:absolute; z-index:0; left:0; top:60px;z-index: 500; background:#204186;}
.sidebar * { list-style: none; }
.header { padding: 15px; border-bottom: 1px #2754b1 solid;color: #f7f8fa;background: #204186;}
.header:hover{background: #2754b1;cursor: pointer; color:#fff;}
.label { padding-left: 45px; background: no-repeat; }
.arrow { display: block; width: 16px; height: 16px; background: no-repeat center; float: right; }
.arrow.up { background-image: url(../img/arrow_d.png); }
.arrow.down { background-image: url(../img/arrow_u.png); }
.sidebar-panel li ul{ display:none}
.sidebar-panel li ul li { background-color: #1a2e59; width:205px;color: #919fbe; padding-left:40px; border-bottom:1px dashed #14264c }
.sidebar-panel li ul li a{color: #919fbe;line-height:45px;font-size:14px; padding-left:25px;}
.sidebar-panel li ul li:hover{color: #fff;}
.sidebar-panel li ul li:last-child { border-bottom: none; }
.sidebar-panel li ul li.selected { background-color: #f4f4f4;}
.sidebar-panel li ul li a:not(.selected):hover{cursor: pointer;cursor: pointer; color:#fff;}
.sidebar-panel li ul li a:not(.selected):active{cursor: pointer; cursor: pointer;color:#fff;}
.sidebar-panel li ul li:not(.selected):hover{background:url(../img/menu1.jpg);cursor: pointer; color:#fff;}
.sidebar-panel li ul li:not(.selected):active{ background:url(../img/menu1.jpg);cursor: pointer; color:#fff;}
#sd1{ background:url(../img/label.png) no-repeat;}
#sd2{ background:url(../img/labe2.png) no-repeat;}
#sd3{ background:url(../img/labe3.png) no-repeat;}
#sd4{ background:url(../img/labe4.png) no-repeat;}
#sd5{ background:url(../img/labe5.png) no-repeat;}
#sd6{ background:url(../img/labe6.png) no-repeat;}
#sd7{ background:url(../img/labe7.png) no-repeat;}
#sd8{ background:url(../img/labe8.png) no-repeat;}
.nd1{background:url(../img/nd1.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd1:hover{background:url(../img/nd1t.png) no-repeat;}
.nd1:active{background:url(../img/nd1t.png) no-repeat;}
.nd2{background:url(../img/nd2.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd2:hover{background:url(../img/nd2t.png) no-repeat;}
.nd2:active{background:url(../img/nd2t.png) no-repeat;}
.nd3{background:url(../img/nd3.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd3:hover{background:url(../img/nd3t.png) no-repeat;}
.nd3:active{background:url(../img/nd3t.png) no-repeat;}
.nd4{background:url(../img/nd4.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd4:hover{background:url(../img/nd4t.png) no-repeat;}
.nd4:active{background:url(../img/nd4t.png) no-repeat;}
.nd5{background:url(../img/nd5.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd5:hover{background:url(../img/nd5t.png) no-repeat;}
.nd5:active{background:url(../img/nd5t.png) no-repeat;}
.nd6{background:url(../img/nd6.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd6:hover{background:url(../img/nd6t.png) no-repeat;}
.nd6:active{background:url(../img/nd6t.png) no-repeat;}
.nd7{background:url(../img/nd7.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd7:hover{background:url(../img/nd7t.png) no-repeat;}
.nd7:active{background:url(../img/nd7t.png) no-repeat;}
.nd8{background:url(../img/nd8.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd8:hover{background:url(../img/nd8t.png) no-repeat;}
.nd8:active{background:url(../img/nd8t.png) no-repeat;}
.nd9{background:url(../img/nd9.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd9:hover{background:url(../img/nd9t.png) no-repeat;}
.nd9:active{background:url(../img/nd9t.png) no-repeat;}
.nd10{background:url(../img/nd10.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd10:hover{background:url(../img/nd10t.png) no-repeat;}
.nd10:active{background:url(../img/nd10t.png) no-repeat;}

.nd1n{background:url(../img/nd1n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd1n:hover{background:url(../img/nd1tn.png) no-repeat;}
.nd1n:active{background:url(../img/nd1tn.png) no-repeat;}
.nd2n{background:url(../img/nd2n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd2n:hover{background:url(../img/nd2tn.png) no-repeat;}
.nd2n:active{background:url(../img/nd2tn.png) no-repeat;}
.nd3n{background:url(../img/nd3n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd3n:hover{background:url(../img/nd3tn.png) no-repeat;}
.nd3n:active{background:url(../img/nd3tn.png) no-repeat;}
.nd4n{background:url(../img/nd4n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd4n:hover{background:url(../img/nd4tn.png) no-repeat;}
.nd4n:active{background:url(../img/nd4tn.png) no-repeat;}
.nd5n{background:url(../img/nd5n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd5n:hover{background:url(../img/nd5tn.png) no-repeat;}
.nd5n:active{background:url(../img/nd5tn.png) no-repeat;}
.nd6n{background:url(../img/nd6n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd6n:hover{background:url(../img/nd6tn.png) no-repeat;}
.nd6n:active{background:url(../img/nd6tn.png) no-repeat;}
.nd7n{background:url(../img/nd7n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd7n:hover{background:url(../img/nd7tn.png) no-repeat;}
.nd7n:active{background:url(../img/nd7tn.png) no-repeat;}
.nd8n{background:url(../img/nd8n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd8n:hover{background:url(../img/nd8tn.png) no-repeat;}
.nd8n:active{background:url(../img/nd8tn.png) no-repeat;}
.nd9n{background:url(../img/nd9n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd9n:hover{background:url(../img/nd9tn.png) no-repeat;}
.nd9n:active{background:url(../img/nd9tn.png) no-repeat;}
.nd10n{background:url(../img/nd10n.png) no-repeat; width:150px; height:45px; float:left; padding-left:30px;}
.nd10n:hover{background:url(../img/nd10tn.png) no-repeat;}
.nd10n:active{background:url(../img/nd10tn.png) no-repeat;}

/*版权*/
.foot{ width:100%; height:50px; background:#262626; float:left;}
.foot p{ width:auto; text-align:center; color:#fff; font-size:14px; line-height:50px;}
#go_top {
	left: 55%;	
	position: fixed;
	bottom: 5px;
	background: #fff url(images/bg_float_top.gif) no-repeat center -2px;
	margin-left: 500px;
	width: 18px;
	padding: 16px 0 0;
	border: solid 1px #dbdbdb;
	border-radius: 2px;
  _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-5); 	
  _position: absolute;
  z-index:120;
}
#go_top a, #go_top a:hover {
	color: #656A77;
	display: block;
	font-size: 12px;
	padding-bottom: 6px;
	padding-left: 3px;
	text-align: left;
}
#go_top a { text-decoration: none; }
#go_top a:hover { color: #f60; }

/*公共DIV*/
.content{margin-left: 245px;height:auto;}
.Invoice{ width:100%; height:auto; margin:auto;float:left; background:#f7f8fa;}
.INa1dd{ width:90%; height:auto; margin:auto;}
.Ifapiao{ width:100%; padding:25px 0; border-bottom:1px solid #ccc;}
.Ifapiao h2{ font-size:24px; color:#333; font-weight:100; padding-left:23px; border-left:7px solid #2C9FDD}
.IF1{ width:88%; height:auto; margin:auto; padding:50px 0;}
.ndt{ width:100%; float:left; background:#fff; margin-top:50px;border-radius:5px; margin-bottom:50px;padding-bottom:50px;}
.Button{ width:180px; line-height:50px; border:1px solid #fff;border-radius:5px; font-size:18px; color:#fff; background:#ff4a50; margin:30px 0;}
.Wikipedia{width:100%; height:auto; margin:auto; padding:15px 0;}
.LGButton1{ width:100px; line-height:40px; border:1px solid #fff;border-radius:5px; font-size:18px; color:#fff; background:#ff4a50; margin:30px 20px;}
.LGButton2{ width:100px; line-height:40px; border:1px solid #fff;border-radius:5px; font-size:18px; color:#fff; background:#c4c4c4; margin:30px 10px;}
.LGButton3{ width:130px; line-height:40px; border:1px solid #fff;border-radius:5px; font-size:18px; color:#fff; background:#ff4a50; margin:30px 20px;float:left; margin-left:80px;}
.LGntas{ color:#ff0000; padding-right:5px;}
.TOUbutton{ width:120px; line-height:40px; border:1px solid #1d3a78;border-radius:5px; font-size:16px; color:#fff; background:#ff4a50; margin:30px 70px;}

/*发票申请*/
.IF2{ width:90%; height:auto; margin:auto;}
.IF3{ width:100%; height:auto; float:left; margin:10px 0;line-height:32px;font-size:14px;}
.IF3 p{color:#333;font-size:15px; line-height:32px; float:left; width:100px;}
.IFN1{width:200px; height:30px; border:1px solid #ccc; line-height:30px;padding:0 5px 0 5px; font-size:14px; color:#666; float:left;}
.IFN2{width:40%; height:30px; border:1px solid #ccc; line-height:30px;padding:0 5px 0 5px; font-size:14px; color:#666; float:left;}
.IFN3{width:75%; height:120px; border:1px solid #ccc; line-height:30px;padding:0 5px 0 5px; font-size:14px; color:#666; float:left;}
.IF3 span{ color:#ff0000; padding-left:10px;}
.IF3 select{ width:200px;height:33px;line-height:30px;font-size:14px; color:#666;border:1px solid #ccc;padding:0 5px 0 5px;}
.IFN4{ float:left; width:73%; border:1px dashed #ccc; padding:15px;}
.IFN4 span{color:#666;font-size:14px; line-height:30px; float:left; width:100%}
.IFN5{ width:auto; height:35px; float:left; border:1px solid #ccc;border-radius:5px; background:#f7f8fa;}
.IFN5 li{ width:auto; padding:0 15px; line-height:35px; float:left; border-right:1px solid #ccc;}
.IFN5 li:hover{ background:#2856b6; color:#fff;}
.IFN5atvis{ background:#2856b6; color:#fff;}

/*登录*/
#Login {POSITION: absolute;TEXT-ALIGN: center; Z-INDEX: 1;MARGIN-TOP: 50px; WIDTH: 633px;HEIGHT: 580px; MARGIN-LEFT: -316px; TOP:0%; LEFT: 50%;}
#Login H1 {LINE-HEIGHT: 28px; FLOAT: left; FONT-SIZE: 22px; FONT-WEIGHT: normal;}
.LoginHead {PADDING-LEFT: 20px; OVERFLOW: hidden; padding-top:20px; margin-top:40px; margin-bottom:50px;}
.CopyRight {LINE-HEIGHT: 16px; PADDING-LEFT: 10px; FLOAT: right;border-bottom:1px solid #ccc; width:500px;}
.LGn1{ width:460px; height:auto; margin:auto; }
.LGnt1{ width:460px; height:auto; float:left; margin:10px 0;line-height:32px;font-size:14px; text-align:left;}
.LGnt1 p{color:#333;font-size:15px; line-height:32px; float:left; width:65px;}
.LGnt1 i{ color:#2C9FDD; padding-left:10px;}
.LGnt1 span{ color:#666;}
.LGnt2{width:230px; height:30px; border:1px solid #ccc; line-height:30px;padding:0 5px 0 5px; font-size:14px; color:#666; float:left;}
.LGnt3{width:120px; height:30px; border:1px solid #ccc; line-height:30px;padding:0 5px 0 5px; font-size:14px; color:#666; float:left;}
.LGnt4{ width:60px; height:auto; float:left; margin-left:15px;}
.LOGOds{ width:100%; height:auto; margin:auto; float:left; margin-top:40px;}
.LOGOds h3{ color:#333; font-size:15px; line-height:30px; font-weight:100; margin-bottom:15px;float:left; padding:0 15px;}
.dsRight {LINE-HEIGHT: 16px; PADDING-LEFT: 10px; FLOAT: left;border-bottom:1px solid #ccc; width:165px;}
.LGnt5{ width:240px; height:auto; margin:auto;}
.LGnt5 li{ float:left; width:50px; margin:10px 15px;}
.LGnt5 li img{ width:50px; height:auto;float:left;}
.LGnt5 p{ font-size:12px;  width:50px; line-height:25px; text-align:center; float:left;}

/*注册*/
#RELogin {POSITION: absolute;TEXT-ALIGN: center; Z-INDEX: 1;MARGIN-TOP: 50px; WIDTH:850px;HEIGHT: 530px; MARGIN-LEFT: -420px; TOP:0%; LEFT: 50%;}
#RELogin H1 {LINE-HEIGHT: 28px; FLOAT: left; FONT-SIZE: 22px; FONT-WEIGHT: normal;}
.LGnt6{ width:460px; height:auto; float:left; margin:10px 0;line-height:32px;font-size:14px; text-align:left;}
.LGnt6 p{color:#333;font-size:15px; line-height:32px; float:left; width:85px;}
.LGn2{ width:240px; height:350px; float:left;padding-left:50px;border-left:1px solid #ccc; text-align:left; padding-top:10px;}
.LGRight {LINE-HEIGHT: 16px; PADDING-LEFT: 10px; FLOAT: right;border-bottom:1px solid #ccc; width:720px;}
.LGBo1{width:70px; line-height:25px; border:1px solid #ccc;border-radius:5px; font-size:13px; color:#2C9FDD; background:#f7f8fa; margin-left:50px;}
.LGn2 h4{ font-weight:100; font-size:15px;}
.LGn2 span{ font-size:14px; color:#999; text-align:left; line-height:25px; margin:15px 0; float:left;}
.LGn2 p{ margin-top:40px; font-size:14px; color:#333; float:left; margin-bottom:15px;}
.LGn3{width:80px; line-height:30px; border:1px solid #fff;border-radius:5px; font-size:12px; color:#2C9FDD; float:left;}
.LGntnn6{ width:380px; height:auto; float:left; margin:10px 0;line-height:32px;font-size:14px; text-align:left;margin-left:80px; margin-bottom:30px;}
.LGntnn6 p{color:#333;font-size:15px; line-height:32px; float:left; width:85px;}


/*弹窗注册页*/
.reveal-modal-bg { position: fixed; height: 100%;width: 100%;background: #000;background: rgba(0,0,0,.8);z-index: 100;display: none;top: 0;left: 0; }	
.reveal-modal {visibility: hidden;top: 100px; left: 50%;margin-left: -380px;width: 570px;background: #fff url(modal-gloss.png) no-repeat -200px -80px;position: absolute;z-index: 101;padding:30px 100px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
.reveal-modal.small{ width: 200px; margin-left: -140px;}
.reveal-modal.medium{ width: 400px; margin-left: -240px;}
.reveal-modal.large{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge{ width: 800px; margin-left: -440px;}
.reveal-modal .close-reveal-modal {font-size: 22px;line-height: .5;position: absolute;top: 8px;right: 11px;color: #aaa;text-shadow: 0 -1px 1px rbga(0,0,0,.6);font-weight: bold;cursor: pointer;} 
.LGnt7{ width:570px; height:auto; float:left; margin:10px 0;line-height:32px;font-size:14px; text-align:left;}
.LGnt7 p{color:#333;font-size:15px; line-height:32px; float:left; width:80px;}
.LGnt7 i{ padding-left:10px; color:#999; font-size:12px;}
.LGnt7 li{ float:left; padding-right:30px;}
.LGnt7 input[type="checkbox"]{ margin-right:5px;}

/*账户充值*/
.LGnt8{ margin:15px 0 60px 100px; float:left;}
.LGnt8 li{ width:auto; float:left; padding:0 20px; background:#aab3c7; font-size:14px; color:#fff; line-height:30px; border-radius: 5px; margin-right:10px;}
.LGnt8 li:hover{ background:#ffa67b; color:#fff;}
.LGnt9{}
.LGnt9 li{ width:120px; height:40px; float:left; padding:10px 20px; margin-right:20px; border:1px solid #eee; overflow:hidden;}
.LGnt9 li img{ width:120px; height:40px;}

/*会员信息编辑*/
.lanrenzhijia{ width:100%; height:auto; margin-top:30px;}
.lanrenzhijia .tab{ overflow:hidden; border-bottom:1px solid #ccc; padding-left:50px;}
.lanrenzhijia .tab a{ display:block; padding:10px 20px; float:left; text-decoration:none; color:#333; font-size:15px;}
.lanrenzhijia .tab a:hover{ color:#2C9FDD; text-decoration:none; }
.lanrenzhijia .tab a.on{color:#2C9FDD; text-decoration:none; border-bottom:1px solid #2C9FDD;}
.lanrenzhijia .Hcontent{ overflow:hidden; padding:10px;}
.lanrenzhijia .Hcontent li{ display:none; margin:4% 10%;}
.LGnta1{ width:65%; height:auto; margin:auto; }
.LGnt6 span{color:#ff0000;font-size:15px; line-height:32px; float:left; width:80px; padding-left:20px;}
.LGnta2{ width:28%; height:500px; float:left;padding-left:5%;border-left:1px solid #ccc; text-align:left; padding-top:10px;}
.LGnta2 h4{ font-weight:100; font-size:15px;}
.LGnta2 span{ font-size:14px; color:#999; text-align:left; line-height:25px; margin:15px 0; float:left;}
.LGnt11{ width:85px; height:105px; float:left;}
.LGnt11 img{ width:85px; height:85px; overflow:hidden;}
.LGnt11 p{ line-height:20px; color:#fff; background:#2C9FDD; width:85px; text-align:center; font-size:12px;}


/*网络媒体—百科*/
.WIn1{ width:97%; height:auto; margin:auto;}
.WIn1 li{ width:22%; height:auto; float:left;margin:15px 1.5%;}
.WIn1 img{ width:100%; height:auto; max-height:200px}
.WIn1 li:hover{}

.WIn2{ width:94%; height:auto; margin:auto;}
.WIn2 h2{ font-size:16px; color:#333; width:98%; float:left; background:#e9f3ff; line-height:40px; padding-left:2%; margin-top:2%;border-top-left-radius:5px; border-top-right-radius:5px;}
.WIn2 table{ width:100%; height:auto; border:1px solid #f2f2f2; float:left;}
.WIna1{ background:#f2f2f2; line-height:40px; color:#666; font-size:14px; float:left; width:100%;text-align:center;}
.WIna2{ width:22%; float:left; border-right:1px solid #eee;}
.WIna3{ width:48%; float:left; border-right:1px solid #eee;}
.WIna4{ width:14%; float:left; border-right:1px solid #eee;}
.WIn3{background:#fff;}
.WIn4{background:#f9f9f9;}

.WIna5{ width:22%; float:left; border-right:1px solid #eee;text-align:center;line-height:25px; padding:10px 0;}
.WIna5 img{ width:40px; height:20px; overflow:hidden; margin-right:10px;}
.WIna6{ width:47%; float:left; border-right:1px solid #eee;line-height:25px; padding:10px 0;padding-left:1%;}
.WIna7{ width:14%; float:left; border-right:1px solid #eee;text-align:center;line-height:25px; padding:10px 0; color:#ff0000;}
.WIna8{ width:14%; float:left;text-align:center;line-height:25px; padding:10px 0; font-size:30px; color:#999;}
.WIna8:hover{ color:#2C9FDD}

.WMain1{ width:100%; height:auto; border:1px solid #eee; float:left;}
.WMain1 .tab{ overflow:hidden; margin:30px 5% 10px 5%; }
.WMain1 .tab a{ display:block; padding:8px 20px; float:left; text-decoration:none; color:#333; font-size:15px;}
.WMain1 .tab a:hover{ color:#fff; text-decoration:none; background:#2C9FDD;border-radius:5px;}
.WMain1 .tab a.on{color:#fff; text-decoration:none; background:#2C9FDD;border-radius:5px;}
.WMain2{ overflow:hidden; margin:30px 5% 10px 5%;}
.WMain2 li{ display:none;}
.WMain3{ width:80%; height:auto; float:left; margin:10px 0;line-height:32px;font-size:14px; text-align:left;}
.WMain3 p{color:#333;font-size:15px; line-height:32px; float:left; width:80px;}
.WMain3 .WMaP{ font-size:14px; color:#ccc; text-align:left; line-height:25px; margin-left:80px;float:left; margin-top:5px;}
.WIFN1{width:60%; height:30px; border:1px solid #ccc; line-height:30px;padding:0 5px 0 5px; font-size:14px; color:#666; float:left;}
.WIFN2{width:60%; height:120px; border:1px solid #ccc; line-height:30px;padding:0 5px 0 5px; font-size:14px; color:#666; float:left;}
.WMain4{ float:left; width:75%; border:1px dashed #ccc;  margin-left:80px; margin-bottom:2.5%}
.WMain4 span{color:#666;font-size:14px; line-height:30px; float:left; width:100%}
.WMain5{ float:left; width:75%;margin-left:80px; margin-top:2%; margin-bottom:3%}























































